DATABASE_URL=postgresql://crisis_user:crisis_password@127.0.0.1:5432/crisis_resource_db
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=crisis_resource_db
POSTGRES_USER=crisis_user
POSTGRES_PASSWORD=crisis_password

RELIEFWEB_API_URL=https://api.reliefweb.int/v2/reports
RELIEFWEB_APPNAME=your_reliefweb_appname_here
GDACS_RSS_URL=https://www.gdacs.org/xml/rss.xml

API_HOST=0.0.0.0
API_PORT=8000
